.button {
    border-radius: 84px;
    &__intro {
        border: 3px solid #ffffff;
        padding: 18px 44px;
    }
    &__rectangle {
        background: #ffffff;
        border: 3px solid #ffffff;
        padding: 18px 36px;
    }

    &__discover {
        background: #f0aa21;
        padding: 18px 47px;
    }
}
