.button {
    padding: 25px 44px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.135em;
    border-radius: 84px;

    &__header {
        font-weight: 800;
        color: #ffffff;
        border: 3px solid #ffffff;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: #000;
            background-color: #fff;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        }
    }

    &__rectangle {
        text-transform: capitalize;
        background: #ffffff;
        border: 3px solid #ffffff;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: #ffffff;
            border: 2px solid #fff;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(8px);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        }
    }

    &__discover {
        font-weight: 800;
        color: #000000;

        background: #f0aa21;
        border: 2px solid #f0aa21;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: #f0aa21;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(8px);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        }
    }

    &__scroll {
        position: fixed;
        right: 100px;
        bottom: -100px;

        font-weight: 800;
        font-size: 16px;
        text-align: center;

        color: #ffffff;
        border-radius: 84px;
        background: rgba(0, 0, 0, 0.3);
        border: 2px solid #fff;
        backdrop-filter: blur(8px);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);

        transition: all 0.3s;

        z-index: 99;

        &::before {
            content: "";
            border: solid #fff;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            margin: 0 10px 0 0;

            animation: arrow-up 2s infinite;
        }

        &:hover {
            background-color: #fff;
            color: #000;

            &::before {
                border: solid #000;
                border-width: 0 3px 3px 0;
            }
        }
    }
}

.visible {
    bottom: 100px;
}

@keyframes arrow-up {
    0% {
        opacity: 0;
        transform: rotate(-135deg) translate(-5px, -5px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(-135deg) translate(5px, 5px);
    }
}
