.container {
    width: 100%;
    max-width: 1510px;
    margin: 0 auto;

    @media (max-width: 1550px) {
        max-width: 1120px;
    }

    @media (max-width: 1140px) {
        max-width: 890px;
    }

    @media (max-width: 976px) {
        max-width: 760px;
    }
}
