.discover {
    background-image: url(../img/discover.jpg);
    background-size: cover;
    background-position: center;
    min-height: 674px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1230px) {
        min-height: 524px;
    }

    @media (max-width: 425px) {
        min-height: 0;
        padding: 50px 0;
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        font-size: 133px;
        line-height: 161px;
        letter-spacing: 0.495em;

        padding: 237px 0 0;

        @media (max-width: 1230px) {
            font-size: 110px;
            padding: 137px 0 0;
            line-height: 100px;
        }

        @media (max-width: 976px) {
            font-size: 80px;
        }

        @media (max-width: 425px) {
            font-size: 40px;
            padding: 0;
        }

        @media (max-width: 375px) {
            font-size: 36px;
            line-height: 80px;
        }

        @media (max-width: 320px) {
            font-size: 28px;
        }
    }

    &__subtitle {
        width: 1200px;
        margin: 0 0 111px;

        text-transform: uppercase;
        text-align: end;
        font-weight: 800;
        font-size: 34px;
        line-height: 41px;
        letter-spacing: 0.495em;

        @media (max-width: 1230px) {
            font-size: 28px;
            max-width: 1100px;
        }

        @media (max-width: 1140px) {
            font-size: 24px;
            max-width: 970px;
        }

        @media (max-width: 976px) {
            font-size: 20px;
            max-width: 720px;
            margin: 0 0 140px;
        }

        @media (max-width: 425px) {
            font-size: 16px;
            max-width: 400px;
        }

        @media (max-width: 375px) {
            font-size: 14px;
            max-width: 320px;
            line-height: 20px;
            margin: 0 0 120px;
        }

        @media (max-width: 320px) {
            font-size: 12px;
            max-width: 250px;
            line-height: 10px;
            margin: 0 0 130px;
        }
    }
}
