.footer {
    position: relative;
    padding: 125px 0 0;

    min-height: 763px;
    background-color: #181818;

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__col {
        display: flex;
        flex-direction: column;
        gap: 17px;

        p {
            max-width: 368px;
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
        }
    }

    &__icons {
        ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
    }

    &__nav {
        li {
            padding: 0 0 20px 0;
        }

        a {
            font-size: 34px;
            line-height: 41px;
            letter-spacing: -0.05em;

            color: #ffffff;

            &::after {
                content: "";
                display: block;
                padding: 1px 0 0;
                border-bottom: 2px solid white;
                width: 0;
                transition: all 0.2s ease-in-out;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }

    &__send-email {
        margin: 30px 0;
        position: relative;
    }
}
.col-title {
    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: -0.05em;

    color: #ffffff;
}

.copyright {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%);

    text-align: center;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: -0.05em;

    color: #696060;
}

.send-email {
    padding: 25px 58px;

    background: #f4e8e8;
    border: 2px solid #f4e8e8;
    border-radius: 110px;

    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.05em;

    color: #afa0a0;

    &__submit {
        position: absolute;
        right: 0;
        padding: 25px 44px;

        text-transform: uppercase;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: -0.05em;

        color: #000000;

        background: #f0aa21;
        border: 2px solid #f0aa21;
        border-radius: 110px;

        transition: all 0.2s ease-in-out;

        &:hover {
            color: #f0aa21;
            background: #181818;
        }
    }
}
