body {
    font-family: "Inter";
}

.header.shrink {
    height: 100px;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.2);
    // border-bottom: 1px solid white;
    backdrop-filter: blur(8px);
}
