body {
    font-family: "Inter";
}

span {
    letter-spacing: 0;
}

.header.shrink {
    height: 100px;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);

    &--table {
        height: 50px;
        color: black;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(8px);
    }
}
