.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    align-items: center;
    height: 200px;
    width: 100%;

    background-color: transparent;

    z-index: 99;

    transition: all 0.3s ease-in-out;

    @media (max-width: 1140px) {
        height: 120px;
    }

    @media (max-width: 825px) {
        height: 80px;
    }

    &__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        color: #ffffff;

        @media (max-width: 1230px) {
            gap: 10px;
        }

        & svg {
            @media (max-width: 1230px) {
                width: 40px;
                height: 40px;
            }
        }

        & h2 {
            font-weight: 800;
            font-size: 34px;
            line-height: 41px;
            letter-spacing: -0.05em;
            text-transform: capitalize;

            @media (max-width: 1230px) {
                font-size: 24px;
            }

            @media (max-width: 976px) {
                display: none;
            }
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 91px;

        font-size: 16px;
        letter-spacing: 0.135em;

        @media (max-width: 1230px) {
            gap: 40px;
            font-size: 14px;
        }

        @media (max-width: 825px) {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            gap: 20px;

            a {
                font-weight: 800;
                text-transform: uppercase;
                color: #ffffff;

                &::after {
                    content: "";
                    display: block;
                    padding: 1px 0 0;
                    border-bottom: 2px solid #ffffff;
                    transform: scaleX(0);
                    transition: all 0.2s ease-in-out;
                }

                &:hover {
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}
