.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    align-items: center;
    height: 200px;
    width: 100%;

    background-color: transparent;

    z-index: 99;

    transition: all 0.3s ease-in-out;

    &__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        font-style: normal;
        font-weight: 800;
        font-size: 34px;
        line-height: 41px;
        letter-spacing: -0.05em;
        text-transform: capitalize;

        color: #ffffff;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 91px;

        ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        a {
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 19px;
            /* identical to box height */
            letter-spacing: 0.135em;
            text-transform: uppercase;

            color: #ffffff;
        }
    }
}

.rectangle-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 76px 91px 76px 40px;
}

.text {
    h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;

        color: #ffffff;
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        color: #ffffff;
    }
}
