.intro {
    background-image: url(../img/intro.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1080px;

    padding: 118px 0 106px;
    color: #ffffff;

    &__title {
        margin-top: 279px;

        text-align: center;
        font-weight: 800;
        font-size: 133px;
        line-height: 161px;
        letter-spacing: 0.495em;
    }

    &__subtitle {
        text-align: center;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 2.245em;
    }

    &__rectangle {
        margin-top: 155px;
        padding-right: 91px;
        padding-left: 76px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 180px;

        background: rgba(0, 0, 0, 0.1);
        border: 2px solid #ffffff;
        backdrop-filter: blur(8px);

        a {
            font-weight: 800;
            font-size: 16px;
            color: #000000;
        }

        h3 {
            font-weight: 500;
            font-size: 17px;
            line-height: 21px;
        }

        p {
            line-height: 17px;
        }
    }
}
