.gif-container {
    position: fixed;
    bottom: 0;
    left: -100px;
    overflow: hidden;
    width: 150px;
    height: 100px;
    z-index: 99;

    @media (max-width: 1366px) {
        height: 80px;
        width: 120px;
    }

    @media (max-width: 825px) {
        width: 100px;
    }
}

.gif-container img {
    position: absolute;
    bottom: 0;
    left: -33px;
    width: 100%;

    @media (max-width: 1366px) {
        left: -18px;
    }

    @media (max-width: 825px) {
        left: -10px;
    }
}
