.tours {
    padding: 59px 0 173px;

    @media (max-width: 1230px) {
        padding: 50px 0 120px;
    }

    @media (max-width: 825px) {
        padding: 60px 0;
    }

    &__subtitle {
        margin-bottom: 13px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 34px;
        line-height: 41px;
        text-align: center;

        color: #d8d2d2;

        @media (max-width: 1230px) {
            font-size: 28px;
        }
    }

    &__title {
        margin-bottom: 93px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 64px;
        line-height: 77px;
        text-align: center;

        color: #000000;

        @media (max-width: 1230px) {
            font-size: 48px;
        }

        @media (max-width: 825px) {
            margin-bottom: 60px;
        }
    }

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;
        padding: 0 30px;

        @media (max-width: 976px) {
            flex-wrap: wrap;
        }
    }
}
.item-tours {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;

    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #000000;

    background: #f0aa21;
    border-radius: 10px;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    @media (max-width: 1230px) {
        height: 100px;
        font-size: 22px;
    }

    @media (max-width: 976px) {
        flex-basis: 48%;
    }

    &:hover {
        font-size: 36px;
        letter-spacing: 2px;

        @media (max-width: 1230px) {
            font-size: 26px;
            letter-spacing: 1px;
        }
    }
}
