.tours {
    padding: 59px 0 173px;

    &__subtitle {
        margin-bottom: 13px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 34px;
        line-height: 41px;
        text-align: center;

        color: #d8d2d2;
    }

    &__title {
        margin-bottom: 93px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 64px;
        line-height: 77px;
        text-align: center;

        color: #000000;
    }

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 30px;
        padding: 0 30px;
    }
}
.item-tours {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;

    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #000000;

    background: #f0aa21;
    border-radius: 10px;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        font-size: 36px;
        letter-spacing: 2px;
    }
}
