.travel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 55px;
    margin-left: 288px;
    padding: 100px 0;
    overflow: hidden;

    &__title {
        padding-right: 25px;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 44px;
        line-height: 53px;
        letter-spacing: 0.09em;
    }
}
